@import "tailwindcss";

@layer utilities {
  .hide-on-mobile {
    @apply hidden sm:block;
  }
  .show-on-mobile-only {
    @apply block sm:hidden;
  }
}

* {
  outline: none;
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.grid-cols-200px {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.table-row {
  display: grid;
  grid-template-columns: 0.25fr 0.35fr 0.1fr 0.15fr 0.15fr;
  gap: 20px;
  /* min-width: 100%; */
}

.calc-height {
  height: calc(100dvh - 80px);
}

.nav-item {
  &:hover {
    a {
      .desc {
        color: #abbbc2;
      }
    }
  }
}

@media (max-width: 639px) {
  .grid-cols-200px {
    grid-template-columns: repeat(auto-fill, minmax(148px, 1fr));
  }
}
